<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_micropost_comment_path(@micropost, @comment) %> |
<%= link_to 'Back', micropost_comments_path(@micropost) %>
