$(".dropdown-menu.notifications li:first-child").after("#{j render @notifications, notification_class: "li-notification"}");
-# $(".dropdown-menu.notifications").dropdown('toggle');
-# $(".dropdown-toggle").dropdown();
-# $("#aloha").dropdown();
