$("#all_users").html("#{j render partial: 'users/followers', locals: { users: @users, users_type: "All Users"}}");
$("#all_users").removeClass('hidden');
$("#users-modal").modal('show');
$("#users-modal").on('shown.bs.modal', function () {
$(".iradio_square-green.checked").removeClass("checked");
});
$(document).ready(window.ready);
$(document).on("page:load", window.ready);
